//- Body
<<<<<<< HEAD
mj-section(background-color="#f4e5de" padding="0")
    mj-column(width="34%")
        mj-image(css-class="hidden" align="left" padding="0" src="https://i.ibb.co/kqxwZDJ/hero.jpg" alt="" width="205px")
=======
mj-section(background-color="#2e231d" padding="0")
>>>>>>> 3images
    mj-column(width="66%" padding="0 20px")
        mj-text(padding="15px 0 35px 5px" font-family="Arial, Helvetica, sans-serif" font-size="14px" font-weight="500" line-height="18px" color="#ffffff") Investir dans une machine à café professionnelle transforme radicalement l'expérience café au travail, promettant qualité et satisfaction à chaque tasse.
mj-section(background-color="#f4e5de" padding="0")
    mj-column(width="34%" vertical-align="middle" background-color="#2e231d" padding="8px")
        mj-image(padding="0" src="https://i.ibb.co/rk2y3Th/cafe03-102024.jpg" alt="" width="600px")
    mj-column(width="66%" padding="0 20px" vertical-align="middle")
        mj-text(padding="0 0 0 5px" font-family="Arial, Helvetica, sans-serif" font-size="15px" font-weight="700" line-height="19px" color="#282828") #[span(style="background-color:#88f05b;padding:5px 17px;border-radius:8px;") Fraîcheur et goût supérieur :]
        mj-text(padding="15px 0 35px 17px" font-family="Arial, Helvetica, sans-serif" font-size="13px" font-weight="400" line-height="17px" color="#282828") Avec un moulin intégré, votre équipe profite d'un café fraîchement moulu, offrant une expérience gustative unique et un contrôle précis sur le profil aromatique de chaque boisson.
mj-section(background-color="#f4e5de" padding="0")
    mj-column(width="34%" vertical-align="middle" background-color="#2e231d" padding="8px")
        mj-image(padding="0" src="https://i.ibb.co/4JvMyY6/cafe02-102024.jpg" alt="" width="600px")
    mj-column(width="66%" padding="0 20px" vertical-align="middle")
        mj-text(padding="0 0 0 5px" font-family="Arial, Helvetica, sans-serif" font-size="15px" font-weight="700" line-height="19px" color="#282828") #[span(style="background-color:#88f05b;padding:5px 17px;border-radius:8px;") Personnalisation et Flexibilité]
        mj-text(padding="15px 0 40px 17px" font-family="Arial, Helvetica, sans-serif" font-size="13px" font-weight="400" line-height="17px" color="#282828") Des paramètres programmables permettent d'adapter les préparations aux préférences de chacun et d'optimiser le service selon le rythme de l'entreprise, garantissant un café parfait en toute situation.
mj-section(background-color="#f4e5de" padding="0")    
    mj-column(width="34%" vertical-align="middle" background-color="#2e231d" padding="8px")
        mj-image(padding="0" src="https://i.ibb.co/KbhBy6w/cafe01-102024.jpg" alt="" width="600px")
    mj-column(width="66%" padding="0 20px" vertical-align="middle")
        mj-text(padding="0 0 0 5px" font-family="Arial, Helvetica, sans-serif" font-size="15px" font-weight="700" line-height="19px" color="#282828") #[span(style="background-color:#88f05b;padding:5px 17px;border-radius:8px;") Diversité des boissons]
        mj-text(padding="15px 0 38px 17px" font-family="Arial, Helvetica, sans-serif" font-size="13px" font-weight="400" line-height="17px" color="#282828") Équipez votre espace de travail d'une machine dotée de fonctionnalités de mousse de lait pour enrichir votre menu de boissons caféinées - des espressos corsés aux lattes onctueux, satisfaisant tous les goûts.
mj-section(background-color="#f4e5de")
    mj-column   
        mj-button(padding="0 0 38px 5px" inner-padding="15px 25px" background-color="#2e231d" color="#ffffff" font-size="15px" font-weight="700" line-height="15px" border-radius="50px" href="#") Comparez les offres