//-footer
mj-section
    mj-column
        mj-text(padding-top="0" padding-bottom="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="10px" line-height="14px" font-weight="400" color="#663300") Ceci est un mail automatique, merci de ne pas y répondre.
        mj-text(padding-top="0" padding-bottom="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="10px" line-height="14px" font-weight="400" color="#663300") Vous recevez ce mail d'information car vous êtes enregistré(e) sur la base partenaire HM
        mj-text(padding-top="0" padding-bottom="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="10px" line-height="14px" font-weight="400" color="#663300") Si vous souhaitez être retiré de la liste de diffusion, dirigez-vous sur cette page.