mjml
    //- Head
    mj-head
        mj-title Machine Café
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-font(name="Raleway" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap")/
        mj-attributes
            mj-all(font-family='Arial, Helvetica, sans-serif')/
            mj-image(border='none')/
            mj-button(background-color='#F45E43' color="#ffffff" font-size='14px')
        mj-breakpoint(width='450px')
        mj-style.
            .heading{
                padding-top: 15px;
                text-align: center;
                font-style: 18px;
                font-family:"serif"
            }
    //- Body
    mj-body(background-color="#ededed")       
        //- content
        block content
        //- map
            block map
            include ../includes/_map
        //- recommended
            block recommended
            include ../includes/_recommended
        //- footer
            block footer
            include ../includes/_footer