mjml
    //- Head
    mj-head
        mj-title Machine Café
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-font(name="Raleway" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap")/
        mj-attributes
            mj-all(font-family='Arial, Helvetica, sans-serif')/
            mj-image(border='none')/
        mj-breakpoint(width='550px')
        mj-style.
            @media (max-width: 550px){
                .hidden{
                    display: none !important;
                }
            }
            
    //- Body
    mj-body(background-color="#ededed")       
        //- content
        block content
        //- header
        block header
            include ../includes/_header
        //- body
        block recommended
            include ../includes/_body
        //- footer
        block footer
            include ../includes/_footer