extends templates/_layout
//- content
block content
    //- Mise en ligne
    mj-section(padding="10px 0")
        mj-column
            mj-text(align="center" font-family="Arial, Helvetica, sans-serif" font-size="10px" line-height="14px" font-weight="400" color="#663300") Si ce message ne s'affiche pas correctement #[a(style="color:#663300;" href="#") consultez-le en ligne]
    //- Header
    mj-section(background-color="#73625b" padding-top="30px" padding-bottom="0px")
        mj-column(width="100%")
            mj-text(align="center" padding-top="0" padding-bottom="0" font-family="Raleway, Helvetica, sans-serif" font-size="36px" font-weight="300" line-height="40px" color="#ffffff") Une #[span(style="font-weight:700;") machine]
            mj-text(align="center" padding-top="0" padding-bottom="0" font-family="Raleway, Arial, sans-serif" font-size="36px" font-weight="700" line-height="40px" color="#ffffff")  à café professionnelle :
            mj-text(align="center" padding-top="0" font-family="Raleway, Arial, sans-serif" font-size="32px" font-weight="300" line-height="36px" color="#ffffff") un incontournable ?
        mj-column(width="100%")
            mj-image(padding="0" width="600px" src="https://vht.tradedoubler.com/file/277879/0424/hero.jpg" alt="Machine à café")
    //- Body
    mj-section(background-color="#f4e5de" padding="0")
        mj-column(width="34%")
            mj-image(css-class="hidden" align="left" padding="0" src="https://vht.tradedoubler.com/file/277879/0424/hero2.jpg" alt="" width="205px")
        mj-column(width="66%" padding="0 20px")
            mj-text(padding="30px 0 30px 5px" font-family="Arial, Helvetica, sans-serif" font-size="14px" font-weight="600" line-height="18px" color="#282828") Investir dans une machine à café professionnelle transforme radicalement l'expérience café au travail, promettant qualité et satisfaction à chaque tasse.
            mj-text(padding="0 0 0 5px" font-family="Arial, Helvetica, sans-serif" font-size="15px" font-weight="700" line-height="19px" color="#282828") #[span(style="background-color:#88f05b;padding:5px 17px;") Fraîcheur et goût supérieur :]
            mj-text(padding="15px 0 35px 17px" font-family="Arial, Helvetica, sans-serif" font-size="13px" font-weight="400" line-height="17px" color="#282828") Avec un moulin intégré, votre équipe profite d'un café fraîchement moulu, offrant une expérience gustative unique et un contrôle précis sur le profil aromatique de chaque boisson.
            mj-text(padding="0 0 0 5px" font-family="Arial, Helvetica, sans-serif" font-size="15px" font-weight="700" line-height="19px" color="#282828") #[span(style="background-color:#88f05b;padding:5px 17px;") Personnalisation et Flexibilité]
            mj-text(padding="15px 0 40px 17px" font-family="Arial, Helvetica, sans-serif" font-size="13px" font-weight="400" line-height="17px" color="#282828") Des paramètres programmables permettent d'adapter les préparations aux préférences de chacun et d'optimiser le service selon le rythme de l'entreprise, garantissant un café parfait en toute situation.
            mj-text(padding="0 0 0 5px" font-family="Arial, Helvetica, sans-serif" font-size="15px" font-weight="700" line-height="19px" color="#282828") #[span(style="background-color:#88f05b;padding:5px 17px;") Diversité des boissons]
            mj-text(padding="15px 0 38px 17px" font-family="Arial, Helvetica, sans-serif" font-size="13px" font-weight="400" line-height="17px" color="#282828") Équipez votre espace de travail d'une machine dotée de fonctionnalités de mousse de lait pour enrichir votre menu de boissons caféinées - des espressos corsés aux lattes onctueux, satisfaisant tous les goûts.
            mj-button(padding="0 0 38px 5px" inner-padding="15px 25px" background-color="#282828" color="#ffffff" font-size="15px" font-weight="700" line-height="15px" border-radius="50px" href="#") Comparez les offres
    //-footer
    mj-section
        mj-column
            mj-text(padding-top="0" padding-bottom="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="10px" line-height="14px" font-weight="400" color="#663300") Ceci est un mail automatique, merci de ne pas y répondre.
            mj-text(padding-top="0" padding-bottom="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="10px" line-height="14px" font-weight="400" color="#663300") Vous recevez ce mail d'information car vous êtes enregistré(e) sur la base partenaire HM
            mj-text(padding-top="0" padding-bottom="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="10px" line-height="14px" font-weight="400" color="#663300") Si vous souhaitez être retiré de la liste de diffusion, dirigez-vous sur cette page.