extends templates/_layout
//- content
block content
    //- Mise en ligne
    mj-section(padding="10px 0")
        mj-column
            mj-text(align="center" font-family="Arial, Helvetica, sans-serif" font-size="10px" line-height="16px" font-weight="400" color="#663300") Si ce message ne s'affiche pas correctement #[a(style="color:#663300;" href="#") consultez-le en ligne]
    //- Header
    mj-section(background-color="#73625b" padding-top="30px" padding-bottom="0px")
        mj-column(width="100%")
            mj-text(align="center" padding-top="0" padding-bottom="0" font-family="Raleway, Helvetica, sans-serif" font-size="36px" font-weight="300" line-height="40px" color="#ffffff") Une #[span(style="font-weight:700;") machine]
            mj-text(align="center" padding-top="0" padding-bottom="0" font-family="Raleway, Arial, sans-serif" font-size="36px" font-weight="700" line-height="40px" color="#ffffff")  à café professionnelle :
            mj-text(align="center" padding-top="0" font-family="Raleway, Arial, sans-serif" font-size="32px" font-weight="300" line-height="36px" color="#ffffff") un incontournable ?
        mj-column(width="100%")
            mj-image(padding="0" width="600px" src="https://vht.tradedoubler.com/file/277879/0424/hero.jpg" alt="Machine à café")
    //- Body
    mj-section(background-color="#f4e5de" padding="0")
        mj-column(width="34%")
            mj-image(align="left" padding="0" src="https://vht.tradedoubler.com/file/277879/0424/hero2.jpg" alt="" width="205px")
        mj-column(width="5%")
        mj-column(width="61%")
            mj-text(padding-left="0" font-family="Arial, Helvetica, sans-serif" font-size="14px" font-weight="600" line-height="20px" color="#282828") Investir dans une machine à café professionnelle transforme radicalement l'expérience café au travail, promettant qualité et satisfaction à chaque tasse.
            mj-text(padding="0 25px" font-family="Arial, Helvetica, sans-serif" font-size="15px" font-weight="700" line-height="20px" color="#282828") #[span(style="background-color:#88f05b;padding:5px 25px;") Fraîcheur et goût supérieur :]
            mj-text(font-family="Arial, Helvetica, sans-serif" font-size="13px" font-weight="400" line-height="18px" color="#282828") Avec un moulin intégré, votre équipe profite d'un café fraîchement moulu, offrant une expérience gustative unique et un contrôle précis sur le profil aromatique de chaque boisson.
            mj-text(container-background-color="#88f05b" padding="5px" font-family="Arial, Helvetica, sans-serif" font-size="15px" font-weight="700" line-height="20px" color="#282828") Personnalisation et Flexibilité
            mj-text(font-family="Arial, Helvetica, sans-serif" font-size="13px" font-weight="400" line-height="18px" color="#282828") Des paramètres programmables permettent d'adapter les préparations aux préférences de chacun et d'optimiser le service selon le rythme de l'entreprise, garantissant un café parfait en toute situation.
            mj-text(font-family="Arial, Helvetica, sans-serif" font-size="15px" font-weight="700" line-height="20px" color="#282828") Diversité des boissons
            mj-text(font-family="Arial, Helvetica, sans-serif" font-size="13px" font-weight="400" line-height="18px" color="#282828") Équipez votre espace de travail d'une machine dotée de fonctionnalités de mousse de lait pour enrichir votre menu de boissons caféinées - des espressos corsés aux lattes onctueux, satisfaisant tous les goûts.